params.help = false
params.threads = 40

docker {
    enabled = true
}

params {

    //// FASTP parameters ////

    n_base_limit = 5
    unqualified_percent_limit = 40
    cut_front_window_size = 4
    cut_front_mean_quality = 20
    cut_right_window_size = 4
    cut_right_mean_quality = 20 

    //// SPADES paremeters ////
}
